[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
asyncpg = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"
pytest = "*"
psycopg2-binary = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.13"
